@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* ======== reset ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

// variables
$text-color: #000;
$base-color: #f7f7f7;

/* ============ parent & layout ============ */
.parent-container {
  width: 100vw;
  min-height: 100vh;
  background-color: $base-color;
  overflow-x: hidden;

  .layout-container {
    max-width: 1440px;
    margin: 0px auto;
    background-color: $base-color;
    overflow-x: hidden;
  }
}

// ====== Mixins =======
@mixin container-base {
  max-width: 1250px;
  margin: 0px auto;
  padding: 40px 0;
}


// ====== hero container =======
.hero-container {
    @include container-base;
  
    h1 {
      font-size: 45px;
      margin-top: 20px;
      text-align: center;
      color: #A55EEA;
    }
  
    .description {
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
      color: #585858;
    }
  
    .article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
      margin: 70px 0 40px 0;
  
      .box1 {
        width: 80%;
        p {
          font-size: 18px;
          line-height: 1.3;
        }
  
        img {
          border-radius: 10px;
          width: 100%;
          margin-top: 20px;
        }
      }
  
      .box2 {
        width: 80%;
  
        article:nth-child(1) {
          margin: 0px 0;
        }
  
        article {
          margin: 25px 0;
          h5 {
            color: #343434;
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 10px;
          }
  
          p {
            font-size: 17px;
            line-height: 1.3;
          }

          a{
            display: inline-block;
            margin-top: 7px;
          }
        }
      }
    }
  }
  
  // ======== form-container ============
.form-container {
    @include container-base;
  
    form {
      label:nth-child(1) {
        span {
          margin-left: 25px;
        }
      }
  
      label {
        display: block;
        margin: 19px 0;
        font-size: 16px;
  
        input[type="text"],
        input[type="password"],
        input[type="email"] {
          display: inline-block;
          margin-left: 10px;
          border: 2px solid #A55EEA;
          width: 200px;
          height: 25px;
          border-radius: 5px;
        }
  
        input[type="radio"] {
          display: inline-block;
          margin-left: 0px;
          border: 2px solid #A55EEA;
          width: 20px;
          height: 15px;
        }
  
        input[type="checkbox"] {
          display: inline-block;
          margin-left: 10px;
          border: 2px solid #A55EEA;
          width: 20px;
          height: 15px;
        }
      }
  
      input[type="submit"] {
        display: inline-block;
        margin-top: 20px;
        width: 190px;
        height: 43px;
        background-color: #A55EEA;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-family: "League Spartan";
        font-size: 19px;
        margin-top: 20px;
        cursor: pointer;

        &:hover{
            background-color: #952bff;
            box-shadow: 2px 3px 10px rgba(0,0,0, 0.2)
        }
      }
    }
  }
  
  .footer-container {
    width: 100vw;
    background-color: #A55EEA;
    overflow-x: hidden;
  
    .footer-layout {
      width: 1440px;
      margin: 0px auto;
      background-color: #A55EEA;
    }
  
    .footer-box {
      @include container-base;
  
      background-color: #A55EEA;
      display: grid;
      grid-template-columns:  1fr 1fr;
      place-items: center;
      color: #fff;
    }
  }
  

  @media screen {
    
  }