@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* ======== reset ======= */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

/* ============ parent & layout ============ */
.parent-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

.parent-container .layout-container {
  max-width: 1440px;
  margin: 0px auto;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

.hero-container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 40px 0;
}

.hero-container h1 {
  font-size: 45px;
  margin-top: 20px;
  text-align: center;
  color: #a55eea;
}

.hero-container .description {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  color: #585858;
}

.hero-container .article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 70px 0 40px 0;
}

.hero-container .article .box1 {
  width: 80%;
}

.hero-container .article .box1 p {
  font-size: 18px;
  line-height: 1.3;
}

.hero-container .article .box1 img {
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
}

.hero-container .article .box2 {
  width: 80%;
}

.hero-container .article .box2 article:nth-child(1) {
  margin: 0px 0;
}

.hero-container .article .box2 article {
  margin: 25px 0;
}

.hero-container .article .box2 article h5 {
  color: #343434;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.hero-container .article .box2 article p {
  font-size: 17px;
  line-height: 1.3;
}

.hero-container .article .box2 article a {
  display: inline-block;
  margin-top: 7px;
}

.form-container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 40px 0;
}

.form-container form label:nth-child(1) span {
  margin-left: 25px;
}

.form-container form label {
  display: block;
  margin: 19px 0;
  font-size: 16px;
}

.form-container form label input[type="text"],
.form-container form label input[type="password"],
.form-container form label input[type="email"],
.form-container form label select {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid #a55eea;
  width: 200px;
  height: 25px;
  border-radius: 5px;
}

.form-container form label input[type="radio"] {
  display: inline-block;
  margin-left: 0px;
  border: 2px solid #a55eea;
  width: 20px;
  height: 15px;
}

.form-container form label input[type="checkbox"] {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid #a55eea;
  width: 20px;
  height: 15px;
}

.form-container form input[type="submit"] {
  display: inline-block;
  margin-top: 20px;
  width: 190px;
  height: 43px;
  background-color: #a55eea;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "League Spartan";
  font-size: 19px;
  margin-top: 20px;
  cursor: pointer;
}

.form-container form input[type="submit"]:hover {
  background-color: #952bff;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.footer-container {
  width: 100vw;
  background-color: #a55eea;
  overflow-x: hidden;
}

.footer-container .footer-layout {
  width: 1440px;
  margin: 0px auto;
  background-color: #a55eea;
}

.footer-container .footer-box {
  max-width: 1250px;
  margin: 0px auto;
  padding: 40px 0;
  background-color: #a55eea;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  color: #fff;
}

@media only screen and (max-width: 550px) {
  #parent {
    width: 100vw;
    min-height: 500px;
    background-color: #f7f7f7;
    overflow-x: hidden;
  }
  .layout-container {
    width: 100%;
    margin: 0px auto 0 auto;
    background-color: #f7f7f7;
    overflow-x: hidden;
  }
  .hero-container {
    width: 97%;
    margin: 0px auto;
    padding: 40px 0;
  }
  .hero-container h1 {
    font-size: 33px;
    margin-top: 20px;
    text-align: center;
    color: #a55eea;
  }
  .hero-container .description {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: #585858;
  }
  .hero-container .article {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 540px 1fr;
        grid-template-rows: 540px 1fr;
    grid-gap: 10px;
    margin: 20px 0 30px 0;
    place-items: center;
  }
  .hero-container .article .box1 {
    width: 95%;
  }
  .hero-container .article .box1 p {
    font-size: 18px;
    line-height: 1.3;
  }
  .hero-container .article .box1 img {
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
  }
  .hero-container .article .box2 {
    width: 95%;
  }
  .hero-container .article .box2 article:nth-child(1) {
    margin: 0px 0;
  }
  .hero-container .article .box2 article {
    margin: 5px 0;
  }
  .hero-container .article .box2 article h5 {
    color: #343434;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 10px;
  }
  .hero-container .article .box2 article p {
    font-size: 17px;
    line-height: 1.3;
  }
  .hero-container .article .box2 article a {
    display: inline-block;
    margin-top: 7px;
  }
  .form-container {
    width: 97%;
    margin: 0px auto;
    padding: 40px 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .footer-container {
    width: 100vw;
    background-color: #a55eea;
    overflow-x: hidden;
  }
  .footer-container .footer-layout {
    width: 100%;
  }
  .footer-container .footer-box {
    width: 97%;
    margin: 0px auto;
    padding: 40px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    place-items: center;
    color: #fff;
  }
  .footer-container .footer-box p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */