* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parent_container {
  width: 100vw;
  min-height: 80vh;
  background-color: #ffffff;
  overflow-x: none;
}

.layout_container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 80vh;
  background-color: #ffffff;
  overflow-x: none;
}
