@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

/* ======== reset ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

// variables
$text-color: #000;
$base-color: #f7f7f7;

/* ============ parent & layout ============ */
.parent-container {
  width: 100vw;
  min-height: 100vh;
  background-color: $base-color;
  display: grid;
  place-items: center;

  .main {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 2;

    p {
      font-size: 45px;
      font-weight: 600;
      display: grid;
      place-items: center;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
}
